@import "../Variables";

.personalArea {
  @include pageStyles;
}

.personalArea__container {
  @include container;
}

// USERINFO

.personalArea__userInfo {
  @include flexStartColumn;
  width: 100%;
  padding: $mainBigPadding 0;
  border-bottom: 1px solid $brandColorBlack100;
  align-items: start;
  margin-bottom: $mainBigMargin;
}

.userInfo__title {
  @include bigFontH1;
  margin-bottom: $mainBigMargin;
}

.userInfo__image {
  align-self: start;
  background-color: #D9D9D9;
  margin-right: 150px;
}

.userInfo__block {
  @include flexStart;
  width: 100%;
  height: 100%;
}

.userInfo__block-lists {
  @include flexStart;
  flex-grow: 1;
  height: 100%;
  align-items: start;
}

.userInfo__block-list {
  height: 100%;

  &:first-child {
    margin-right: calc($mainBigMargin*2);
  }

  &:last-child {
    flex-grow: 1;
  }
}

.userInfo__list-item {
  @include fontSize8;

  a{
    color: inherit;
  }

  &:not(:last-child) {
    margin-bottom: $mainBigMargin;
  }
}

.userInfo__edit {
  align-self: end;
}

.userInfo__edit-btn {
  @include fontSize8;
}

// KANBAN

.personalArea__kanban {
  @include flexCenterColumn;
  width: 100%;
  padding-bottom: $mainBigPadding;
  align-items: start;
}

.kanban__title{
  @include bigFontH2;
  margin-bottom: $mainBigMargin;
}

.kanban__boards{
  @include flexStart;
  width: 100%;
  height: 600px;
  max-height: 600px;
  align-items: start;
  justify-content: space-around;
}

.kanban__board{
  @include flexCenterColumn;
  flex: 0 1 30%;
  height: 100%;
}

.board__board{
  @include flexCenterColumn;
  width: 330px;
  flex-grow: 1;
  justify-content: start;
  overflow-y: auto;
  overflow-x: hidden;
}

.board__title{
  @include bigFontH3;
  width: 280px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: $mainMediumMargin;
}

.board__task{
}

.task__task{
  cursor: grab;
  width: 300px;
  height: 100px;
  background-color: white;
  border: 1px solid $brandColorBlack100;
  padding: 25px;
  margin-bottom: $mainMediumMargin;

  p{
    @include fontSize8;
  }
}

@media (max-width: 1600px) {
  .personalArea__container{
    padding: 0 $containerMediumPadding;
  }

  .userInfo__title {
    @include fontH1;
  }

  .userInfo__list-item {
    @include fontSize6;

    &:not(:last-child){
      margin-bottom: $mainMediumMargin;
    }
  }

  .userInfo__edit-btn {
    @include fontSize6;
  }

  .kanban__boards {
    height: 400px;
  }

  .kanban__title {
    @include fontH2;
  }

  .board__title {
    @include fontH3;
    width: 200px
  }

  .task__task {
    width: 250px;
    height: 80px;

    p {
      @include fontSize6;
    }
  }
}

@media (max-width: 1140px) {
  .personalArea__container{
    padding: 0 $containerSmallPadding;
  }
}