@import "../Variables";

.personalArea {
  @include pageStyles;
}

.personalArea__container {
  @include container;
}

// USERINFO

.personalArea__userInfo {
  @include flexStartColumn;
  width: 100%;
  padding: $mainBigPadding 0;
  border-bottom: 1px solid $brandColorBlack100;
  align-items: start;
  margin-bottom: $mainBigMargin;
}

.userInfo__title {
  @include bigFontH1;
  margin-bottom: $mainBigMargin;
}

.userInfo__image {
  align-self: start;
  background-color: #D9D9D9;
  margin-right: 150px;
}

.userInfo__block {
  @include flexStart;
  width: 100%;
  height: 100%;
}

.userInfo__block-rows {
  @include flexStartColumn;
  flex-grow: 1;
  height: 100%;
  align-items: start;
}

.userInfo__block-row {
  @include flexStart;
  width: 100%;

  &:not(:last-child){
    margin-bottom: $mainBigMargin;
  }
}

.userInfo__list-item {
  @include fontSize8;
  color: inherit;

  &:first-child {
    min-width: 150px;
    max-width: 150px;
    margin-right: calc($mainBigMargin*2);
  }

  &:last-child{
    width: fit-content;
    word-break: break-word;
  }
}

.userInfo__edit {
  align-self: end;
}

.userInfo__edit-btn {
  @include fontSize8;
}

// KANBAN

.personalArea__kanban {
  @include flexCenterColumn;
  width: 100%;
  padding-bottom: $mainBigPadding;
  align-items: start;
}

.kanban__title{
  @include bigFontH2;
  margin-bottom: $mainBigMargin;
}

.kanban__boards{
  @include flexStart;
  width: 100%;
  height: fit-content;
  align-items: start;
  justify-content: space-around;
}

.kanban__board{
  @include flexCenterColumn;
  flex: 0 1 33%;
  height: 100%;
  overflow: hidden;
}

.board__title{
  @include bigFontH3;
  width: 280px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: $mainMediumMargin;
}

.board__board{
  width: 100%;
  height: 400px;
}

.board__scrollable{
  @include flexCenterColumn;
  justify-content: start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.task__task{
  cursor: grab;
  width: 80%;
  margin-bottom: $mainMediumMargin;
  background-color: white;
  border: 1px solid $brandColorBlack100;
  padding: 15px;
}

.task__name{
  @include fontSize8;
  font-weight: 500;
  margin-bottom: 15px;
}

.task__row{
  @include flexStart;

  &:not(:last-child){
    margin-bottom: 10px;
  }
}

.task__row-item{
  @include fontSize7;
  line-height: 24px;
  word-break: break-word;

  &:first-child{
    width: fit-content;
    margin-right: $mainMediumMargin;
  }

  &:last-child{
    flex-grow: 1;
    text-align: end;
    word-break: keep-all;
  }
}

@media (max-width: 1600px) {
  .personalArea__container{
    padding: 0 $containerMediumPadding;
  }

  .userInfo__title {
    @include fontH1;
  }

  .userInfo__block-row {
    &:not(:last-child){
      margin-bottom: $mainMediumMargin;
    }
  }

  .userInfo__list-item {
    @include fontSize6;
  }

  .userInfo__edit-btn {
    @include fontSize6;
  }

  .kanban__title {
    @include fontH2;
  }

  .board__title {
    @include fontH3;
    width: 200px
  }

  .board__board{
    height: 300px;
  }

  .task__name{
    @include fontSize6;
    font-weight: 500;
  }

  .task__row-item{
    @include fontSize6;
    line-height: 20px;
  }
}

@media (max-width: 1184px) {

  .personalArea__userInfo{
    padding: $mainMediumPadding 0;
    margin-bottom: $mainMediumMargin;
  }

  .personalArea__container{
    padding: 0 $containerSmallPadding;
  }

  .userInfo__title {
    @include smallFontH1;
    margin-bottom: $mainMediumMargin;
  }

  .userInfo__image{
    margin-right: $mainBigMargin * 2;
  }

  .userInfo__list-item{
    @include fontSize5;

    &:first-child{
      margin-right: $mainBigMargin;
    }
  }

  .userInfo__edit-btn{
    @include fontSize5;
  }

  .board__title {
    width: 150px
  }

  .board__board{
    height: 400px;
  }

  .task__name{
    @include fontSize5;
    font-weight: 500;
  }

  .task__row-item{
    @include fontSize5;
    line-height: 18px;
  }
}