@import "../Variables";

// landActions

.landActions {
  @include pageStyles;
}

.landActions__container {
  @include container;
  @include flexStartColumn;
  padding-top: $mainBigPadding;
  padding-bottom: $mainBigPadding;
}

.landActions__title {
  @include bigFontH1;
  margin-bottom: $mainBigMargin;
}

.landActions__lists {
  @include flexStart;
  align-items: start;
  justify-content: space-between;
  padding: 0 $mainBigPadding*2;
  width: 100%;
  margin-bottom: $mainBigMargin;
}

.landActions__list {
  flex: 0 1 40%;
}

.landActions__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: $mainMediumMargin;
  }
}

.landActions__button-button {
  @include fontSize8;
  align-self: end;
}


@media (max-width: 1530px) {

  .landActions__container {
    padding: $mainBigPadding $containerMediumPadding;
  }

  .landActions__title {
    @include fontH1;
  }

  .landActions__lists {
    padding: 0 $mainBigPadding;
  }

  .landActions__list {
    flex: 0 1 45%
  }

  .landActions__button-button {
    @include fontSize6;
    padding: 5px 25px;
  }
}

@media (max-width: 1140px) {
  .landActions__container {
    padding: $mainMediumPadding $containerSmallPadding;
  }
}