@import "../Variables";

// LandList

.landList {
  @include pageStyles;
}

.landList__container {
  @include container;
  padding-top: $mainBigPadding;
  padding-bottom: $mainBigPadding;
}

.landList__header {
  @include flexStart;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $mainBigMargin;
  width: 100%;
}

.header__title {
  @include bigFontH1;
  margin-right: $mainBigMargin;
}

.header__archive {
  @include fontSize7;
  align-self: end;
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.header__label {
  width: 35%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
    background: url("../../Assets/Img/searchIcon.svg") center no-repeat;
    background-size: contain;
    z-index: 10000000;
  }
}

.header__search {
  @include fontSize8;
  width: 100%;
}

.header__search-text {
  display: none;
}

.landList__lands {
  width: 100%;
  margin-bottom: $mainBigMargin;
}

.lands__table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-top: 1px solid black;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid black;
    }
  }

  th {
    @include bigFontH3;
    text-align: center;
    position: relative;
    max-width: calc(100% / 6);
    padding: $mainMediumPadding $mainBigPadding;

    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 50%;
        border-right: 1px solid black;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  td {
    @include fontSize8;
    text-align: center;
    word-break: break-word;
    padding: $mainBigPadding;
  }
}

.lands__table-land {
  cursor: pointer;

  &:hover {
    background-color: $brandColorBlack40;
  }
}

.landList__none {
  @include fontSize8;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

// LandItem

.landCard {
  @include pageStyles;
}

.landCard__container {
  @include container;
}

.landCard__item {
  padding: $mainBigPadding 0;
}

.item__header {
  @include flexStart;
  align-items: center;
  justify-content: start;
  margin-bottom: $mainBigMargin;
  width: 100%;
}

.item__title {
  @include bigFontH1;
  margin-right: $mainBigMargin;
}

.item__status{
  cursor: initial;
  @include fontSize7;
  padding: 5px 25px;
  margin-right: $mainMediumMargin;
  background-color: transparent;
  border: 1px solid $brandColorBlack100;
}

.item__stage{
  cursor: initial;
  @include fontSize7;
  padding: 5px 25px;
  background-color: transparent;
  border: 1px solid $brandColorBlack100;
}

.item__row {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: $mainBigMargin;
  }
}

// ListCardInfo

.item__infoBlock {
  @include flexStartColumn;
  justify-content: start;
  position: relative;
  padding: $mainMediumPadding;
  background-color: white;
  box-shadow: 0px 4px 4.5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  max-height: 700px;
}

.infoBlock__header {
  @include flexSpaceBetween;
  align-items: start;
  margin-bottom: $mainBigMargin;
  width: 100%;
}

.infoBlock__h2 {
  @include bigFontH2;
  margin-right: $mainMediumMargin;
}

.infoBlock__edit {
  @include fontSize8;
  cursor: pointer;
  user-select: none;
  padding: 15px;
  margin: -15px;
  text-decoration: underline;
}

.infoBlock__rows {
  @include flexStartColumn;
  justify-content: start;
  padding: 0 $mainBigMargin;
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
}

.infoBlock__row {
  @include flexSpaceBetween;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: $mainMediumMargin;
  }
}

.row__field {
  @include fontSize8;
  min-width: 45%;
  max-width: 45%;
  word-wrap: break-word;
  word-break: break-word;
}

.field__objects {
  cursor: pointer;
  font-weight: 500 !important;
  min-width: fit-content;
  max-width: fit-content;
  padding: $mainSmallPadding;
  margin: -$mainSmallMargin;
  margin-bottom: 10px;
}

.infoBlock__tasks{
  @include flexStartColumn;
  justify-content: start;
  width: 100%;
  flex-grow: 1;
  padding: 0 $mainBigMargin;
  overflow-y: auto;
}

.tasks__task{
  width: 100%;
  border: 1px solid $brandColorBlack100;
  margin: 0 -15px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:not(:last-child){
    margin-bottom: $mainMediumMargin;
  }

  &:hover, &:active{
    background-color: $brandColorBlack40;
  }
}

.tasks__task:has(.task__edit:hover, .task__edit:active){
  &:hover, &:active{
    background-color: transparent;
  }
}

.task__header{
  @include flexSpaceBetween;
  margin-bottom: $mainSmallMargin;
}

.task__header-block{
  @include flexStart;
}

.task__edit{
  padding: $mainSmallestPadding;
  margin: -$mainSmallestMargin;
  width: 38px;
  height: 38px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;

  &:hover, &:active{
    background-color: $brandColorBlack40;
  }
}

.task__title{
  @include fontSize8;
  font-weight: 500;
  margin-right: $mainMediumMargin;
}

.task__status{
  @include fontSize7;
  padding: 5px 15px;
  border-radius: 20px;
  color: #000;
  margin-right: $mainMediumMargin;
}

.task__description{
  @include fontSize7;
  margin-bottom: 15px;
  word-break: break-word;
  word-wrap: break-word;
}

.task__row{
  @include fontSize7;
  @include flexStart;
}

.task__row-item{
  word-break: break-word;
  word-wrap: break-word;
}

.task__row-title{
  min-width: 150px;
  max-width: 150px;
  margin-right: $mainMediumMargin;
}

// MEDIA

@media (max-width: 1600px) {

  .landList__container {
    padding: $mainBigPadding $containerMediumPadding;
  }

  .header__title {
    @include fontH1;
  }

  .header__archive {
    @include fontSize5;
  }

  .header__search {
    @include fontSize6;
  }

  .header__label {
    &::before {
      right: 15px;
    }
  }

  .lands__table {
    th {
      @include fontH2;
    }

    td {
      @include fontSize6;
    }
  }

  .item__title {
    @include fontH1;
  }

  .item__row {
  }

  .item__infoBlock {
    max-height: 550px;
  }

  .infoBlock__rows {
    padding: 0 $mainMediumPadding;
  }

  .infoBlock__tasks{
    padding: 0 $mainMediumPadding;
  }

  .infoBlock__row {
    &:not(:last-child) {
      margin-bottom: $mainSmallMargin;
    }
  }

  .row__field {
    @include fontSize6;
  }

  .infoBlock__h2 {
    @include fontH2;
  }

  .infoBlock__edit {
    @include fontSize6;
  }

  .landCard__container {
    padding: 0 $containerMediumPadding;
  }

  .infoBlock__header {
    margin-bottom: $mainMediumMargin;
  }

  .item__status{
    @include fontSize6;
    padding: 5px 25px;
  }

  .item__stage{
    @include fontSize6;
    padding: 5px 25px;
  }

  .task__title{
    @include fontSize6;
    font-weight: 500;
    margin-right: $mainMediumMargin;
  }

  .task__status{
    @include fontSize5;
  }

  .task__description{
    @include fontSize5;
  }

  .task__row{
    @include fontSize5;
  }
}

@media (max-width: 1184px) {

  .landList__container {
    padding: $mainMediumPadding $containerSmallPadding;
  }

  .landList__header {
    margin-bottom: $mainMediumMargin;
  }

  .header__title {
    @include smallFontH1;
  }

  .header__search {
    @include fontSize5;
    height: 40px;
  }

  .landList__lands {
    margin-bottom: $mainMediumMargin;
  }

  .lands__table {
    th {
      font-size: 18px;
      line-height: 20px;
      padding: $mainSmallPadding $mainMediumPadding;
    }

    td {
      @include fontSize5;
      padding: $mainMediumPadding;
    }
  }

  .pagination__objects {
    @include fontSize5;
  }

  .pagination__pages {
    @include fontSize5;
  }

  .landCard__container {
    padding: 0 $containerSmallPadding;
  }

  .landCard__item {
    padding: $mainMediumPadding 0 $mainBigPadding 0;
  }

  .item__header {
    margin-bottom: $mainMediumMargin;
  }

  .item__title {
    @include smallFontH1;
  }

  .item__row {
  }

  .item__infoBlock {
    flex: 0 1 47%;
  }

  .infoBlock__rows {
    padding: 0 $mainSmallPadding;
  }

  .infoBlock__tasks{
    padding: 0 $mainSmallPadding;
  }

  .infoBlock__h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .infoBlock__edit {
    @include fontSize5;
  }

  .row__field {
    @include fontSize5;
  }

  .item__status{
    @include fontSize5;
    padding: 5px 15px;
  }

  .item__stage{
    @include fontSize5;
    padding: 5px 15px;
  }

  .task__title{
    @include fontSize5;
    font-weight: 500;
    margin-right: $mainMediumMargin;
  }

  .task__status{
    @include fontSize5;
  }

  .task__description{
    @include fontSize5;
  }

  .task__row{
    @include fontSize5;
  }
}