@import "./Variables";

@media (max-width: 1530px) {

  // PERSONAL_AREA

  .personalArea__container{
    padding: 0 $containerMediumPadding;
  }

  .userInfo__title {
    @include fontH1;
  }

  .ui__userImage {
    width: 250px;
    height: 250px;
    margin-right: 100px;
  }

  .userInfo__list-item {
    @include fontSize7;
  }

  .userInfo__edit-btn {
    @include fontSize7;
  }

  .kanban__boards {
    height: 400px;
  }

  .kanban__title {
    @include fontH2;
  }

  .board__title {
    @include fontH3;
    width: 200px
  }

  .task__task {
    width: 250px;
    height: 80px;

    p {
      @include fontSize7;
    }
  }

}

@media (max-width: 1140px) {

  // PERSONAL_AREA

  .personalArea__container{
    padding: 0 $containerSmallPadding;
  }

}