@import "./Variables";

// BUTTON CONTRAST

.ui__button-contrast {
  background-color: $brandColorGreen100;
}

// BUTTON MAIN

.ui__button-main {
  padding: 10px 50px;
  border: 1px solid $brandColorBlack100;
  background: $brandColorBlack20;
}

// HEADER

.ui__header {
  width: 100%;
  height: 95px;
}

.header__container {
  @include flexSpaceBetween;
  @include container;
  height: 100%;
  background-color: $brandColorBlack100;
}

.header__left {
  @include flexStart;

  svg {
    cursor: pointer;
    margin-right: $mainBigMargin;
  }
}


.header__left-button {
  @include fontSize8;
  padding: 10px 25px 10px 45px;
  border-radius: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    z-index: 1000000000;
  }
}

.header__left-add {
  margin-right: $mainBigMargin;

  &::before {
    background: url("../Assets/Img/AddIcon.svg") center no-repeat;
    background-size: contain;
  }
}

.header__left-landList {
  &::before {
    background: url("../Assets/Img/LinkToIcon.svg") center no-repeat;
    background-size: contain;
  }
}

.header__button-contrast {
  border-radius: 50%;
  padding: 15px;
  width: 52px;
  height: 52px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../Assets/Img/LogoutIcon24.svg") center no-repeat;
    background-size: contain;
    z-index: 1000;
  }
}

.header__button-contrast-text {
  @include fontSize5;
}

// UserImage

.ui__userImage {
  width: 280px;
  height: 280px;

  label {
    div {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 50%;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        background-color: $brandColorBlack100;
      }

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 50%;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        background-color: $brandColorBlack100;
      }
    }
  }

  input {
    display: none;
  }
}

.userImage__image {

}

.userImage__icon {

}

// MyInput

.ui__label {
  width: fit-content;
}

.ui__label-prefix {
  @include fontSize7;
  width: fit-content;
  word-wrap: break-word;
  word-break: break-word;
  margin-left: 10px;
  margin-bottom: 10px;
}

.ui__label-input {
  @include fontSize8;
  width: 100%;
  border-radius: 20px;
  border: 1px solid $brandColorBlack100;
  background: #FFF;
  padding: 0 25px;
  height: 50px;
}

.ui__input-readonly {
  background-color: $brandColorBlack40;
}

// MySelect

.ui__multiply-main {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url("../Assets/Img/ArrowDown.svg") center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    right: 25px;
    bottom: 25px;
    z-index: 1000000;
    transform: translate(0, 50%);
  }
}

.ui__multiply-input {
  cursor: pointer;
}

.ui__multiply-popup {
  width: 50%;
  min-height: fit-content;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid $brandColorBlack100;
  padding: $mainSmallPadding;
  border-radius: 20px;
  background-color: white;
  z-index: 100000000;
  position: absolute;
  top: calc(100% + $mainSmallPadding);
  left: 0;
}

.popup__header {
  @include flexSpaceBetween;
  margin-bottom: $mainSmallMargin;
}

.popup__title {
  @include fontH2;
}

.popup__close {
  cursor: pointer;
  padding: $mainSmallPadding;
  margin: -$mainSmallMargin;
}

.popup__objects {
  @include flexStartColumn;
}

.popup__object {
  @include fontSize5;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;

  &:not(:last-child) {
    margin-bottom: $mainSmallestMargin;
  }

  &:hover {
    background-color: $brandColorGreen60;
  }

  &-selected {
    background-color: $brandColorGreen100;
  }
}


// ListCardInfo

.item__infoBlock {
  flex: 0 1 45%;
}

.infoBlock__header {
  @include flexSpaceBetween;
  align-items: start;
  margin-bottom: $mainBigMargin;
}

.infoBlock__h2 {
  @include bigFontH2;
}

.infoBlock__edit {
  @include fontSize8;
  cursor: pointer;
}

.infoBlock__lists {
  @include flexSpaceBetween;
  padding: 0 $mainBigMargin;
}

.infoBlock__list {
  @include flexStartColumn;
  flex: 0 1 45%;
}

.list__field {
  @include fontSize8;

  &:not(:last-child) {
    margin-bottom: $mainMediumMargin;
  }
}


@media (max-width: 1530px) {
  .header__button-contrast {
    height: 38px;
    width: 38px;

    &::before {
      height: 24px;
      width: 24px;
    }
  }

  .header__left-button {
    @include fontSize6;
    padding: 6px 25px 6px 45px;
  }

  .ui__userImage {
    width: 250px;
    height: 250px;
  }

  .ui__button-main {
    padding: 5px 25px;
  }

  .ui__label-input {
    @include fontSize6;
    height: 50px;
    padding: 0 15px;
  }

  .ui__label-prefix {
    @include fontSize5;
  }

  .infoBlock__lists {
    padding: 0 $mainMediumPadding;
  }

  .infoBlock__h2 {
    @include fontH2;
  }

  .infoBlock__edit {
    @include fontSize6;
  }

  .list__field {
    @include fontSize6;

    &:not(:last-child) {
      margin-bottom: $mainSmallMargin;
    }
  }
}

@media (max-width: 1140px) {

  .infoBlock__lists {
    padding: 0 $mainSmallPadding;
  }
}