@import "./Variables";

// BUTTON CONTRAST

.ui__button-contrast{
  background-color: $brandColorGreen100;
}

// BUTTON MAIN

.ui__button-main{
  padding: 10px 50px;
  border: 1px solid $brandColorBlack100;
  background: $brandColorBlack20;
}

// HEADER

.ui__header{
}

.header__container{
  @include flexSpaceBetween;
  @include container;
  height: 95px;
  background-color: $brandColorBlack100;
}

.header__button-contrast{
  border-radius: 50%;
  padding: 15px;
  width: 39px;
  height: 39px;
  position: relative;
  box-sizing: border-box;

  &::before{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../Assets/Img/LogoutIcon24.svg") center no-repeat;
    background-size: contain;
    z-index: 1000;
  }
}

.header__button-contrast-text{
  @include fontSize5;
}

// UserImage

.ui__userImage{
  width: 280px;
  height: 280px;

  label{
    div{
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 100%;

      &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 50%;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        background-color: $brandColorBlack100;
      }

      &::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 50%;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        background-color: $brandColorBlack100;
      }
    }
  }

  input{
    display: none;
  }
}

.userImage__image{

}

.userImage__icon{

}