@import "../Variables";

.personalArea__editing {
  @include flexStartColumn;
  width: 100%;
  height: 100%;
  padding: $mainBigPadding 0 0;
  align-items: start;
}

.editing__title {
  @include bigFontH1;
  margin-bottom: $mainBigMargin;
}

.editing__lists {
  @include flexStart;
  align-items: start;
  height: 100%;
  width: 100%;
  margin-bottom: $mainBigMargin;
}

.editing__lists-lists{
  @include flexStart;
  align-items: start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.editing__list {
  @include flexStartColumn;
  flex: 0 1 45%;
  height: 100%;
  align-items: start;
}

.editing__list-item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: $mainBigMargin;
  }

  &-none {
    display: none;
  }
}

.editing__image {
  background-color: #D9D9D9;
  margin-right: $mainBigMargin*2;
  flex-shrink: 0;
}

.editing__save {
  @include fontSize8;
  align-self: end;
}

@media (max-width: 1600px) {
  .editing__title{
    @include fontH1;
  }

  .editing__image{
    width: 250px;
    height: 250px;
    margin-right: $mainBigMargin;
  }

  .editing__save{
    @include fontSize6;
    padding: 5px 25px;
  }
}