@import "../Variables";


.landTask {
  @include pageStyles;
}

.landTask__container {
  @include container;
}

.landTask__item {
  padding: $mainBigPadding 0;
}

.item__head {
  @include flexSpaceBetween;
  margin-bottom: $mainBigMargin;
  width: 100%;
}

.item__header-block{
  @include flexStart;
}

.item__header-btn{
  @include fontSize7;
  padding: 5px 25px;
  border-radius: 20px;

  &:not(:last-child){
    margin-right: $mainMediumMargin;
  }
}

.item__header-btnRed{
  background-color: rgb(239, 59, 36);
}

.item__header-btnYellow{
  background-color: rgb(255, 241, 118);
}

.item__title {
  @include bigFontH1;
  margin-right: $mainBigMargin;
}

// MEDIA 1600px

@media (max-width: 1600px) {
  .landTask__container {
    padding: 0 $containerMediumPadding;
  }

  .item__title {
    @include fontH1;
  }

  .item__header-btn{
    @include fontSize6;
  }
}

// MEDIA 1184px

@media (max-width: 1184px) {
  .landTask__container {
    padding: 0 $containerSmallPadding;
  }

  .landTask__item {
    padding: $mainMediumPadding 0 $mainBigPadding 0;
  }

  .item__head {
    margin-bottom: $mainMediumMargin;
  }

  .item__title {
    @include smallFontH1;
  }

  .item__header-btn{
    @include fontSize5;
    padding: 5px 15px;
  }
}